@font-face {
  font-family: "BajerFont";
  src: url("BajerFont.eot?") format("eot"), url("BajerFont.woff") format("woff"),
    url("BajerFont.ttf") format("truetype"),
    url("BajerFont.svg#Candice") format("svg");
  font-weight: normal;
  font-style: normal;
}
